<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Chat</mat-card-title>
    <mat-card-subtitle>Username</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card>
      <p>
        Chat chat chat chat
      </p>
    </mat-card>
    <mat-form-field>
      <input matInput #message type="text" maxlength="100" [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
      <mat-hint align="end">{{message.value.length}} / 100</mat-hint>
    </mat-form-field>
    <button mat-button>SEND</button>
  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
</mat-card>
