<div>
  <app-header></app-header>
</div>
<div>
  <h2 class="headline">Leaderboard</h2>
  <mat-table [dataSource]="dataSource" class="table-width" matSort>
    <ng-container matColumnDef="winCount">
      <mat-header-cell *matHeaderCellDef>Wins</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.winCount}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="user">
      <mat-header-cell *matHeaderCellDef>User</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.user}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
