<div class="container">
<mat-card class="login-card center">
  <mat-card-title>
    Login
  </mat-card-title>
  <mat-card-content>
    <div><button>Google</button></div>
    <div><button>Github</button></div>
    <div><button>GitLab</button></div>
    <div><mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email">
    </mat-form-field>
    </div>
      <div><mat-form-field>
        <mat-label>Password</mat-label>
          <input matInput type="password">
      </mat-form-field>
      </div>
      <div><button type="submit">SUBMIT</button></div>
  </mat-card-content>
</mat-card>

</div>
