.canvas {
  margin-left: 5%;
  height: 100%;
  align-items: stretch;
  flex-grow: 3;
  justify-content: space-evenly;


}
.container {
  display: flex;
  height: 100%;
  flex-flow: row wrap;
}

.side-panel{
  width: 30%;
  height: 100%;
  justify-content: space-between;
}

.chat{
  width: 30%;
  align-items: stretch;
}
table {
  justify-content: center;
  border: 1px solid grey;
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  text-align: center;
  border: 1px solid grey;
  width: 18px;
  height: 18px;
  overflow: hidden;
}


