<div>
  <app-header></app-header>
</div>
<div class="container">
  <div class="canvas">
    <div [hidden]="!waiting">Waiting for other player to join.</div>
    <div [hidden]="!isGameOn">
      <div>
        Game ID: {{gameId}}
      </div>
      <table id="myTable" #myTable>
        <tr *ngFor="let i of numbers" [ngStyle]="{'disabled': notCurrentlyPlaying}">
          <td *ngFor="let j of numbers"></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="side-panel">
    <app-side-panel></app-side-panel>
  </div>
</div>
